table, th, td {
    border: 1px solid black;
}
.editUser {
    margin-left: 65px;
}
.editLocation {
    margin-left: 64px;
}
.editDueDate {
    margin-left: 60px;
}
.editProvider {
    margin-left: 65px;
}