.row {
    margin-top:5px !important;
}
#HardshipComponent{
    transition: transform 0.3s ease-in-out;
    border: 5px solid #36626A;
    box-shadow: 5px 3px #c7c8d0;
}
#HardshipComponent:hover{
    transform: scale(1.035);
    cursor: pointer;
}

#hdCompButton {
    border: 3px solid  #5388B2;
    padding: .5rem 2.75rem;
    font-weight: 700;
    border-radius: 12px;
    color: #40ca8c;
    margin: 9px;
    text-align: center;

}
#hdCompButton:hover {
    background-color: #5388B2;
    border: 3px solid  #40ca8c;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
#h2Donate {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}
.btn-outline-success {
    border-color:#68C691 !important;
    color: #555;
    font-weight: 700;
}
.btn-outline-success:hover {
    background-color: #68C691 !important;
}
#customAmount {
    margin: 5px;
    width: 75%;
    border-radius: 8px;
}

@media (min-width: 992px) {
    .offset-lg-3 {
        margin-left: 40% !important;
    }
}

#addCustomDonationButton {
    border: 3px solid  #5388B2;
    padding: .5rem 0.5rem;
    font-weight: 700;
    border-radius: 12px;
    color: #40ca8c;
    margin: 9px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
#addCustomDonationButton:hover {
    background-color: #5388B2;
    border: 3px solid  #40ca8c;
    color: white;
    text-decoration: none;
    transform: scale(1.1);
}
.progress {
    height: 1.5rem !important;

}    
.progress-bar {
    background-color: #40ca8c
}

