.table th, .table td {
    border-top: none !important
}
#selected:hover {
    background-color: #E8ECEF
}
#selected {
    border-top: 1px solid lightgray;
}
#balanceInput {
    width: 100px !important;
    margin-left: 20px; 
    border: 1px solid #40ca8c
}
#stickyCart {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
#cartJumbo {
    padding: 2rem 2rem !important;
    border: 5px solid #36626A;
    box-shadow: 5px 3px #c7c8d0;

}
#cartRow {
    border-bottom: 1px solid #36626A;
    padding-top: 8px;
}
#tipSection {
    background-color: #F3F9E4 !important;
}
#tipLabel {
    font-weight: 200
}
#tipSection {
    padding: 1rem 2rem !important
}
