
.signupFormInput {
    width:300px;
    margin-bottom:10px;
}

#createThisButton {
    border: 3px solid  #5388B2;
    padding: .5rem 2.75rem;
    font-weight: 700;
    border-radius: 12px;
    color: #40ca8c;
    text-align: center;
}
#createThisButton:hover {
    background-color: #5388B2;
    border: 3px solid  #40ca8c;
    color: white;
    text-decoration: none
}   

#thisSignInButton {
    color: #40ca8c;
    font-weight: 700;
    padding: 3px;
    text-decoration: none;
    margin-left: 20px;
}
.newAlert {
    width: 300px;
    background-color: #FFB90C;
    font-weight: 300;
    padding-left: 10px;
    padding-right: 10px;
}
