#faq {
    border: 5px solid #36626A;
    padding: 13px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    height: 100%;
    color: black;
    box-shadow: 5px 3px #c7c8d0;
    transition: transform 0.3s ease-in-out;
}
#faq:hover {
    transform: scale(1.035)
}
#faqCta {
    font-weight: 300;
    margin-top: 15px;
}
.card-body {
    color: black;
    padding: .7rem !important;
}
.card-title {
    color: black
}.card-subtitle {
    color: black
}.card-text {
    color: black
}
#test {
    color: black
}
#dropdownMenuButton {
    transition: all 0.5s;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    color: #40ca8c
}