
@media (min-width: 415px){
    .menuLink {
        color: #40ca8c;
        font-weight: 700;
        margin: 9px;
        margin-top: 12px;
        padding: 3px
    }
    .menuLink:hover {
        text-decoration: none;
        color: #5388B2
    }
    #loginButton {
        border: 3px solid  #5388B2;
        padding: .5rem 2.75rem;
        font-weight: 700;
        border-radius: 12px;
        color: #40ca8c;
        margin: 9px;
        text-align: center;
        transition: transform 0.3s ease-in-out;
    }
    #loginButton:hover {
        background-color: #5388B2;
        border: 3px solid  #40ca8c;
        color: white;
        text-decoration: none;
        transform: scale(1.1);
    }    
}
.navbar {
    padding: 0.8rem 1rem !important;
}
#menuRow {
    /* max-width: 700px; */
    padding-top: 10px;
}
.input-group-text {
    padding: .25rem .25rem;
    border-radius: 1.25rem;
}

.flexTry {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    width: 100%;
    padding: 12px;
    align-items: flex-start;
    flex-wrap: wrap;
}
@media all and (min-width: 415px){
    .flexTry {
        flex-direction: row;
        justify-content: flex-start;
        /*flex-wrap: nowrap;*/
    }
    .menuSearch {
        align-self: flex-start;
    }

}
@media all and (min-width: 685px){
    .menuSearch {
        align-self: flex-end;
        margin-left: auto;
    }
}
.menuItem {
    flex-grow: 1;
    order: 2
}
#searchInput {
    /*width: 300px;*/
    max-width: 100%;
}
.search {
    width: 100%
}
.mailTo {
    color: #36C181
}
.m20 {
    margin-left: 20px;
}
@media all and (max-width: 415px){
    #loginButton {
        border: 3px solid  #5388B2;
        padding: .5rem 1.75rem;
        font-weight: 700;
        border-radius: 12px;
        color: #40ca8c;
        margin: 9px;
        text-align: center;
        transition: transform 0.3s ease-in-out;
    }
    #loginButton:hover {
        background-color: #5388B2;
        border: 3px solid  #40ca8c;
        color: white;
        text-decoration: none;
        transform: scale(1.1);
    }
}
@media all and (max-width: 415px){
    .menuLink {
        display: none
    }
}