#signinbg {
    height:1200px;
}
 #e2 {
     width: 300px;
     margin-bottom: 10px;
 }

 #p2 {
    width: 300px;
}
#ua {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 300;
    padding-top:40px
}
#signInButton {
    border: 3px solid  #5388B2;
    padding: .5rem 2.75rem;
    font-weight: 700;
    border-radius: 12px;
    color: #40ca8c;
    text-align: center
}
#signInButton:hover {
    background-color: #5388B2;
    border: 3px solid  #40ca8c;
    color: white;
    text-decoration: none
}   

#createAccountButton {
    color: #40ca8c;
    font-weight: 700;
    padding: 3px;
    text-decoration: none;
    margin-left: 20px;
}
.forgot{
    color: blue;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 85px;
}
