.helpBox{
    position: absolute;
    width: 565px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    z-index: 5;
}
HelpModal{
    z-index: 1000;
}
.help {
    width: 63%;
    z-index: 3;
    padding: 5px
}
.ignore {
    line-height: 0;
    font-size: 0;
    padding: 0;
    margin: 0;
}
.m20 {
    margin-left: 20px;
}
.videoTitle{
    color: #555;
    font-size: 22px;
    padding: 20px;
}