h1 {
    font-family: 'Quicksand', sans-serif;
}
.full {
    width:100%;
}
a {
    font-family: 'Source Sans Pro', sans-serif;
}
h2,h3,h4,h5,h6 {
    font-family: 'Source Sans Pro', sans-serif;
}
p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    color: #555
}
body {
    color: #555
}
#stickyTest {
    position: sticky !important;
}
@media all and (min-width: 992px){
    .mainSpacing {
        margin-top: 0 !important;
    }
    .col-lg-6 {
        max-width: 49%;
    }
}
.mainSpacing {
    padding: 2px !important
}
.formSize {
    width: 350%;
}
.text-muted {
    cursor: pointer !important;
}
@media all and (max-width: 420px){
.homeBox {
    padding:9px !important;
    margin: 10px !important;
    }
}
@media all and (max-width: 420px){
    .moHelp {
        position: absolute;
        left: 46vw;
        top: 254px;
    }
    .helpBox {
        position: absolute !important;
        width: 91vw !important;
        right: -31vw !important;
        margin-left: 0 !important;
        z-index: 5;
    }
}
@media all and (max-width: 415px){
    .menuLink {
        display: none
    }
}