
@media all and (max-width: 420px){
    a.btn.btn-primary{
    position: absolute;
    top: 253px;
    z-index:2;
    }
    button#addCustomDonationButton{
        font-size: 10px;
        padding:3px;
        margin-right: 30px;
    }
    #addCustomDonationButton{
        font-size: 10px;
    }
    .special {
        font-size: 25px;
    }
}
