#needHeader {
    background-color: #3E6d75 !important;
    color: white;
    width: 100% !important;
    height: 300px;
    padding-right: 14px;
    padding-left: 14px;

}
#NeedCta {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 300;
    line-height: .5 !important;
    margin-bottom: 33px;
    margin-top:18px;
}
