
#newsletter {
    /* background-color: #403B91; */
    border: 5px solid #36626A;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 13px;
    height: 100%;
    color: black;
    box-shadow: 5px 3px #c7c8d0;
    transition: transform 0.3s ease-in-out;
}
#newsletter:hover {
    transform: scale(1.035);

}
#newsletterCTA {
    color: black;
    font-weight: 300;
}
#newsletterInput {
    width: 20%
}

#first {
    width: 30%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}
#last {
    width: 30%;
    margin-bottom: 10px;

}
#email {
    width: 50%;
    margin-bottom: 10px;

}

#newsletterButton {
    border: 3px solid  #5388B2;
    padding: .5rem 2.75rem;
    font-weight: 700;
    border-radius: 12px;
    color: #40ca8c;
    margin: 9px;
    text-align: center;
    /* transition: transform 0.3s ease-in-out; */
}
#newsletterButton:hover {
    background-color: #5388B2;
    border: 3px solid  #40ca8c;
    color: white;
    text-decoration: none;
    cursor: pointer;

    /* transform: scale(1.1); */
}   
#ev {
    margin-left: 25px;
}


