#donateBox {
    border: 5px solid #36626A;
    margin-left:5px;
    margin-right:5px;
    margin-top:5px;
    padding: 13px;
    min-height: 247px;
    height: 100%;
    color: black;
    box-shadow: 5px 3px #c7c8d0;
    transition: transform 0.3s ease-in-out;
}
.homeBox {
    border: 5px solid #36626A;
    margin-left:5px;
    margin-right:5px;
    margin-top:5px;
    padding: 13px;
    min-height: 247px;
    height: 100%;
    box-shadow: 5px 3px #c7c8d0;
    transition: transform 0.3s ease-in-out;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    color: #555
}

@media all and (min-width: 992px){
    #donateBox {
        margin-top: 0;
    }
}


#donateBox:hover {
    transform: scale(1.035)
}

#donateCta {
    font-weight: 300
}
#LinkStyle {
    text-decoration: none
}