#mainHeader {
    height: 300px;
    width:100%;
    background-image: url('../../img/ua2.png');
    background-position: center bottom;
    text-align: center;
    color: white;
}
#registerButton {
    color: #403B91;
    font-weight: 500;
    background-color: #F7F8F9;
    border: 2px solid  #403B91;
    border-radius: 12px;
    padding: 18px;
    margin: 8px 8px;
}
#registerButton:hover {
    color: white;
    background-color:#403B91;
    border: 2px solid white;
    text-decoration: none
}

#donateButton {
    color: #008000;
    font-weight: 500;
    background-color: #F7F8F9;
    border: 2px solid #40ca8c;
    border-radius: 12px;
    padding: 12px;
    margin: 8px 8px;
}
#donateButton:hover{
    color: white;
    background-color:#40ca8c;
    border: 2px solid white;
    text-decoration: none
}
#headerH2 {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}
#cta {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: .5 !important;
    margin-bottom: 33px;
}
@media all and (min-width: 415px){
    #cta {
        font-size: 3.5rem;
    }
}
@media all and (min-width: 800px){
    #cta {
        font-size: 6.5rem ;
    }
}
#iconRow{
    display: flex;
    justify-content: center;
}
.badge {
    font-size: 20% !important;
    position: absolute;
    margin-left: 12px;
    font-weight: 300 !important;
}
#specialMenu {
    max-width: 415px !important;
}
