#sidebar {
    list-style: none;
    height: 1200px;
    font-size: 20px;
    padding: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
i {
    margin-right: 15px;
    text-align:left;
}

.myCampaign {
    color: #555;
    font-size: 20px;
}

.myCampaign:hover {
    color: #37C281;
    text-decoration: none;
}
#sbg {
    background-color: #F7F8F9;
}
@media only screen and (max-width:550px) {
    #sidebar {
        height: 300px;
    }
}
