#registerBox {
    border: 5px solid #36626A;
    margin-left: 5px;
    margin-right: 5px;
    margin-top:5px;
    padding: 13px;
    height: 100%;
    color: black;
    box-shadow: 5px 3px #c7c8d0;
    transition: transform 0.3s ease-in-out;
}
#registerBox:hover {
    transform: scale(1.035)
}

#registerCta {
    font-weight: 300
}