h3 {
    margin: 5px
}
input {
    margin-right: 10px;
    width: 225px;
}
.createHardshipButton {
    border: 3px solid  #5388B2;
    padding: .5rem 2.75rem;
    font-weight: 700;
    border-radius: 12px;
    color: #40ca8c;
    margin: 9px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
.createHardshipButton:hover {
    background-color: #5388B2;
    border: 3px solid  #40ca8c;
    color: white;
    text-decoration: none;
    transform: scale(1.1);
}
.previewButtonRow {
    display: flex;
    margin-top: 10px;
}
.fileInput {
    cursor: pointer;
}
.flexInput {
    display: flex;
    flex-direction: column;
}
.errorMessage {
    color: red;
    font-size: 14px;
    margin-bottom: 0;
}
.ddLabel {
    margin-top: 10px;
}
.ddInput {
    margin-left: 10px;
    color: #757575
}