#DropzoneStyle {
    height: 200px;
    width: 75% !important;
    background-color: #F6F7F8;
    text-align: center
}

#createHardshipButton {
    border: 3px solid  #5388B2;
    padding: .5rem 2.75rem;
    font-weight: 700;
    border-radius: 12px;
    color: #40ca8c;
    margin: 9px;
    text-align: center;
    transition: transform 0.3s ease-in-out;

}
#createHardshipButton:hover {
    background-color: #5388B2;
    border: 3px solid  #40ca8c;
    color: white;
    text-decoration: none;
    transform: scale(1.1);
}    