#userNavLeft {
    /*height: 50px;*/
    background-color: #36626A;
    color: white;
    /* width: 25.45%; */
    padding: 10px;
    text-align: center;
}
#userNavCenter {
    /*height: 50px;*/
    background-color: #297684;
    color: lightgray;
    width: 64.5%;
    padding: 10px;
    padding-left: 20px;
    display: flex;

}
#userNavRight {
    /*height: 50px;*/
    background-color: #36626A;
    color: #37C281;
    width: 10%
}
#signOutButton {
    color: #37C281;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    padding-left: 35px;
    
}
#HomeButtonUserMenu {
    color: #37C281;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    padding-left: 35px;
    padding-right: 15px;
}
